.App {
  text-align: center;
  background-color:blueviolet;
  margin:0;
  padding:0;
}

.mainTitle{
  font-family: 'Raleway', sans-serif;
  padding-top:50px;
  color: white;
  margin-top:0;
  margin-bottom:30px;
}

.mainSpace{
  /* background-color:grey; */
  text-align:left;
  margin-left:100px;
}

.inventoryTitle{
  background-color:yellow;
  color:grey;
  border:solid white;
  border-radius: 20px;
  width:100px;
  height:60px;
  font-family: 'Raleway', sans-serif;
  margin-bottom:10px;
}

.recipeTitle{
  background-color:yellow;
  color:grey;
  border:solid white 3px;
  border-radius: 20px;
  width:100px;
  height:60px;
  font-family: 'Raleway', sans-serif;
  margin-bottom:10px;
  text-align:center;
}

.delete{
  color:white;
  font-family: 'Raleway', sans-serif;
  border:solid red;
  border-radius:10px;
  background-color:red;
  width:30px;
  height:30px;
}

/***************************************** General ************************************************/
.contentForm{
  background-color:transparent;
  color:white;
  border:none;
  font-family: 'Raleway', sans-serif;
}

.edit{
  background-color:orangered;
  border:solid orangered 3px;
  border-radius: 3px;
  color:lightgrey;
}
/***************************************** Inventory **********************************************/
.inventory{
  margin:10px 0px 10px 0px;
}

.stock{
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.quantity{
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.editInventory{
  margin-top:30px;
}

/***************************************** Recipes *******************************************/

.ingredient{
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.availability{
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.recipeName{
  text-align:center;
}

.recipeButton{
  background-color:#FF0004;
  color:white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  border:solid #FF0004 3px;
  border-radius: 10px;
  margin:10px;
}

.recipeForm{
  background-color:white;
  color:black;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  border:solid yellow 3px;
  border-radius: 10px;
  margin:10px;
}

.editContent{
  margin-bottom:30px;
}

.addRecipe{
  background-color:#0068FF;
  border:solid #0068FF 3px;
  border-radius: 3px;
  color:lightgrey;
  width:100px;
  height:60px;
  text-align:center;
}

.formatAddRecipe{
  text-align:center;
}
/***************************************** Stock Status *******************************************/

.none{
  border:solid red;
  border-radius:10px;
  background-color:red;
  width:30px;
  height:30px;
  text-align:center;
}

.notEnough{
  border:solid yellow;
  border-radius:10px;
  background-color:yellow;
  width:30px;
  height:30px;
  text-align:center;
}

.enough{
  border:solid yellowgreen;
  border-radius:10px;
  background-color:yellowgreen;
  width:30px;
  height:30px;
  text-align:center;
}

.moreThanEnough{
  border:solid #00cc00;
  border-radius:10px;
  background-color:#00cc00;
  width:30px;
  height:30px;
  text-align:center;
}

/***************************************** CopyRight *******************************************/
.inStockDescription{
  text-align: center;
  margin-top:30%; 
  font-family: 'Raleway', sans-serif;
  color:darkgrey;
  margin-bottom:50px;
}
.copyRight{
  text-align: center;
  margin-top:35%; 
  font-family: 'Raleway', sans-serif;
  color:darkgrey;
  margin-bottom:0;
}

.github{
  width:50px;
  height:50px;
  border:solid 0px transparent;
  background-color:transparent;
}

